<h2>My Users</h2>

<table  cellpadding="10" cellspacing="5" border="3">
    <tbody>
        <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Action</th>
        </tr>
        <tr *ngFor="let user of users$; let id='user.id'">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.address }}</td>
              <td><button (click)="deleteUser(user.id)">Delete</button></td>
        </tr>
    </tbody>
</table>

<h2>Create a User</h2>
<form [formGroup]="form" (ngSubmit)="addUser()">

    <label for="name">Name</label>
    <input type="text" formControlName="name" required>
    <br>
    <label for="phone">Phone</label>
    <input type="number" formControlName="phone" required>
    <br>
    <label for="address">Address</label>
    <input type="text" formControlName="address" required>
    <br>
    <button type="submit">Add User</button>
</form>